# --- Python & Backend ---
__pycache__/

# --- Jupyter Notebooks ---
*.keras

.ipynb_checkpoints/
# Ignore raw datasets
final_dataset/

# Virtual Environments
venv/
.venv/

# Environment Variables (Keep secrets safe!)
.env
# --- Frontend (Node_modules is heavy!) ---
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env